@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* * {
  font-family: Outfit, sans-serif;
} */

@layer base {
  .font-outfit {
    font-family: var(--font-outfit), sans-serif;
  }

  .font-ovo {
    font-family: var(--font-ovo), serif;
  }
}

@layer utilities {
  .hover-dual-offset:hover {
    box-shadow: 4px 4px 0 #000;
  }

  .dark .hover-dual-offset:hover {
    box-shadow: 4px 4px 0 #fff;
  }
}

@layer utilities {
  .grid-template {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
